{{ define "main" }}
<div class="container">
  {{ if .Params.showToc | default true }}
  <div class="page page--with-toc">
    <article>
      {{ if .Params.role }}
        {{ partial "case-study-header.html" . }}
      {{ else }}
        <h1>{{ .Title }}</h1>
        {{ partial "post-tags.html" . }}
      {{ end }}
      {{ .Content }}
    </article>
    {{ if .TableOfContents }}
    <aside class="page__toc">
      <div class="page__toc-inner">
        <h3>On this page</h3>
        {{ .TableOfContents }}
      </div>
    </aside>
    {{ end }}
  </div>
  {{ else }}
  <article>
    {{ if .Params.role }}
      {{ partial "case-study-header.html" . }}
    {{ else }}
      <h1>{{ .Title }}</h1>
    {{ end }}
    {{ .Content }}
    {{ if not .Params.role }}
      {{ partial "post-tags.html" . }}
    {{ end }}
  </article>
  {{ end }}
</div>
{{ end }}
