{{ if .Pages }}
<ul class="blog-list">
  {{ range .Pages }}
  <li class="blog-entry">
    <a href="{{ .RelPermalink }}" class="blog-entry__title">{{ .Title }}</a>
    {{ if not .Date.IsZero }}
    <p class="blog-entry__meta"><time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "Jan 2, 2006" }}</time></p>
    {{ end }}
    {{ with .Description }}<p class="blog-entry__excerpt">{{ . }}</p>{{ end }}
    <a href="{{ .RelPermalink }}" class="blog-entry__read-more">Read more &rarr;</a>
  </li>
  {{ end }}
</ul>
{{ end }}
