{{ if .Pages }}
<ul class="blog-list">
  {{ range .Pages }}
  <li class="blog-entry">
    <a href="{{ .RelPermalink }}" class="blog-entry__title">{{ .Title }}</a>
    {{ if not .Date.IsZero }}
    <p class="blog-entry__meta"><time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "Jan 2, 2006" }}</time></p>
    {{ end }}
    {{ if .Params.impactSummary }}
    {{ $first := index (split .Params.impactSummary "\n\n") 0 }}
    <p class="blog-entry__excerpt">{{ $first | markdownify }}</p>
    {{ partial "post-tags.html" . }}
    {{ else }}
    {{ with findRE "(?s)<p>.*?</p>" .Content 1 }}
    {{ $inner := replaceRE "^<p>|</p>$" "" (index . 0) }}
    {{ $words := split ($inner | htmlUnescape | plainify) " " }}
    {{ $excerpt := delimit (first 25 $words) " " }}
    {{ if gt (len $words) 25 }}{{ $excerpt = printf "%s …" $excerpt }}{{ end }}
    <p class="blog-entry__excerpt">{{ $excerpt }}</p>
    {{ end }}
    {{ end }}
  </li>
  {{ end }}
</ul>
{{ end }}
